<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML Meta Tags -->
    <title><%= title %></title>
    <meta name="description" content="T">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="<%= title %>">
    <meta itemprop="description" content="<%= description %>">
    <meta itemprop="image" content="T">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="<%= url %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="T">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="twitter:image" content="T">
</head>
<body>
    
</body>
</html>